
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Akgöz Ticari Otomasyon</title>
    <link href="~/Web/dist/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>


</head>
<body>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">

            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">

                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">İşlemler</div>



                        <a class="nav-link" href="~/CariPanel/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                            Profilim
                        </a>
                        <a class="nav-link" href="~/CariPanel/MyOrders">
                            <div class="sb-nav-link-icon"><i class="fas fa-praying-hands"></i></div>
                            Siparişlerim
                        </a>
                        <a class="nav-link" href="~/CariPanel/TrackingCargo">
                            <div class="sb-nav-link-icon"><i class="fas fa-truck-moving"></i></div>
                            Kargo Takipi
                        </a>
                        <a class="nav-link" href="~/CariPanel/IncomingMessages">
                            <div class="sb-nav-link-icon"><i class="fas fa-envelope-square"></i></div>
                            Mesajlar
                        </a>
                        <a class="nav-link" href="~/CariPanel/LogOut">
                            <div class="sb-nav-link-icon"><i class="fas fa-sign-out-alt"></i></div>
                            Çıkış
                        </a>


                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small"></div>
                    Ticari Otomasyon
                </div>
            </nav>
        </div>

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </main>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Web/js/scripts.js"></script>
    <script src="~/webpanel/vendor/jquery/jquery.min.js"></script>
    <script src="~/webpanel/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>






<!-- Menu Toggle Script -->


