@model OnlineTicariOtomasyon.Models.Entity.Department
@{
    ViewBag.Title = "GetByDepartmentId";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />

@using (Html.BeginForm("Update", "Department", FormMethod.Post))

{
    <label>Kategori Id</label>
    @Html.TextBoxFor(department => department.Id, new { @class = "form-control" })
    <hr />
    <label>Kategori Adınız</label>
    @Html.TextBoxFor(category => category.Name, new { @class = "form-control" })
    <button class="btn btn-warning" style="margin-top:5px">Kategori Güncelle</button>

}
